body{
    margin: 0;
}

p, h1, h3, a{
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: rgb(124, 124, 124);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
    font-size: small;
}

.left-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.conteiner{
    display: flex;
    justify-content: center;
    gap: 200px;
}

.faces{
    display: flex;
    gap: 20px;
    align-items: center;
}

.face{
    height: 60px; 
    width: 60px;
    border-radius: 100%;
    border: 3px solid rgb(93, 201, 165);
}

.signup{
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(207, 207, 207);
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    height: 500px;
    width: 400px;
    padding: 50px;
    font-size: 15px;
}

.id{
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 300px; 
    margin: 10px;
}

.id input[type="text"] {
    width: 100%; 
    padding: 8px;
    border: none; 
    outline: none; 
    font-size: 16px;
    background-color: transparent;
}

.uppergroup{
    display: flex;
}

.qr-code{
    text-align: center;
    height: 200px;
    background-color: white;
    margin-top: 70px;
}

.lowergroup{
    display: grid;
    gap: 10px;
}

.button-getstarted{
    cursor: pointer;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 214, 214);
}

.button-getstarted:hover{
    transition: 0,5;
    background-color: rgb(255, 255, 255);
}

.whywag {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

.items {
    display: flex;
    gap: 10px;
}

.lovedogs{
    display: flex;
    height: 600px;
    background-color: rgb(228, 228, 228);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.container_1{
    display: flex;
    margin: 100px;
    margin-bottom: 1000px;
    gap: 100px;
}

.hearfrom {
    text-align: center;
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile{
    display: flex;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    gap: 5px;
    padding: 20px;
    width: 300px;
}

.person{
    height: 130px;
    width: 130px;
    border-radius: 100%;
    margin-top: 30px;
}

.aroundblock{
    text-align: center;
    background-color: #008080;
    height: 400px;
    padding: 10px;
}

.conteiner_2{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-sign{
    cursor: pointer;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    color: rgb(161, 89, 0);
    background-color: bisque;
}

.button-sign:hover{
    transition: 0,5;
    background-color: rgb(248, 208, 159);
}

.conteiner_3 {
    color: rgb(153, 153, 153);
    background-color: rgb(228, 228, 228);
    height: 450px;
    padding: 20px;
}

.footer {
    display: flex;
}

.download{
    display: grid;
}

.about{
    display: flex;
    gap: 100px;
    margin-left: 300px;
}

.ground {
    display: flex;
    gap: 200px;
}

.socials {
    display: flex;
    gap: 10px;
}

.space{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.line {
    height: 1px; 
    background-color: rgb(196, 196, 196); 
    width: 100%; 
  }

.terms {
    display: flex;
    gap: 20px;
    margin-left: 30px;
}
